/*COLOR VARIABLES*/
:root {
  --color-primary: #F5F5F5;
  --color-secondary:  #2C3878;
  --color-grey:   #333333;
  --color-grey-light-1:   #FFFFFF;
  --color-grey-light-2:  #9C9C9C;
  --color-black:   #000000; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 3rem;
  font-weight: 300;
  line-height: 1.6;
  color: --color-grey-light-2; }

.container {
  width: 100%;
  min-height: 30rem; }

.footer {
  background-color: #fff;
  padding: 6rem; }
  .footer__agency {
    display: flex;
    justify-content: space-between; }
  .footer__furniture {
    font-size: 2rem; }
  .footer__socials {
    font-size: 1.6rem;
    margin-top: 2rem; }
  .footer__email {
    font-size: 1.2rem; }
  .footer__input {
    border: none;
    padding: 1rem 1.5rem;
    outline: none;
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-between; }
  .footer__contact-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2rem; }
  .footer__para {
    font-size: 3rem; }
  .footer__icon {
    font-size: 2rem; }

.header {
  height: 100vh;
  background-color: --color-grey-light-1;
  margin-bottom: 18rem; }
  .header__primary, .header__paragraph {
    display: flex;
    justify-content: center; }
  .header__primary {
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 4rem; }
  .header__paragraph {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 4rem; }
  .header__img {
    width: 100%; }

.nav__item {
  text-transform: capitalize;
  border-bottom: 2px solid var(--color-secondary);
  display: flex;
  justify-content: end; }

.nav__list {
  list-style: none; }

.nav__list--active {
  background-color: var(--color-secondary);
  padding: 1rem; }

.nav__link {
  text-decoration: none;
  margin-right: 2rem;
  border-bottom: 1px solid var(--color-secondary);
  color: #000; }

.overview {
  display: flex;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.6;
  margin-bottom: 2rem;
  column-gap: 3rem; }
  .overview__project {
    padding: 3rem;
    flex: 0 0 50%; }
  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
.overview__design {
    padding: 3rem;
    flex: 1; }
  .overview__paragraph {
    font-size: 1.2rem;
    font-weight: 100; }
  .overview__name-date {
    display: flex;
    margin-top: 2rem; }
  .overview__date {
    margin-right: 2rem; }

.picture1__item {
  display: flex;
  column-gap: 2rem; }

.picture1__photo {
  width: 100%; }

.picture2__photo {
  width: 100%; }

.picture3__item {
  display: flex;
  column-gap: 2rem; }

.picture3__photo {
  width: 100%; }

.discussion {
  background-color: var(--color-secondary);
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .discussion__contact-us {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-start; }
  .discussion__paragraph {
    font-size: inherit; }
  .discussion__btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #fff; }
